swagger: '2.0'
info:
    title: RaamatuKlubi
    version: 1.0.0
    description: Hinda raamatuid
paths:
   /books:
  get:
    tags:
      - Books
    summary: Get all Books
    description: >
      Return all Books that are registered in API.
      Supports search and filtering via query parameters.
    parameters:
      - name: q
        in: query
        type: string
        required: false
        description: Search in Name and Description
      - name: language
        in: query
        type: string
        required: false
        description: Filter by Language
      - name: year
        in: query
        type: integer
        format: int32
        required: false
        description: Filter by exact ReleaseYear
      - name: minYear
        in: query
        type: integer
        format: int32
        required: false
        description: Filter ReleaseYear >= minYear
      - name: maxYear
        in: query
        type: integer
        format: int32
        required: false
        description: Filter ReleaseYear <= maxYear
    responses:
      "200":
        description: Returns a list of Books
        schema:
          type: array
          items:
            $ref: "#/definitions/Book"
      "400":
        description: Invalid query parameters
        schema:
          $ref: "#/definitions/error"

        post:
            tags:
                - Books
            parameters:
                -
                    name: body
                    description: The <Book> that is to be created.
                    schema:
                        $ref: '#/definitions/new-Book'
                    in: body
                    required: true
            responses:
                '201':
                    description: Send 201 when <Book> is successfully added to the database.
                    schema:
                        $ref: '#/definitions/new-Book'
                '400':
                    description: 'Missing some parameter, please review your request data!'
                    schema:
                        $ref: '#/definitions/error'
            summary: Create a new <Book> into the app
            description: 'Create a new <Book> instance with its required details, for further usage.'
    /books(BookID):
        get:
            tags:
                - Books
            responses:
                '200':
                    description: Returns all details of a given <Book>
            operationId: BookID
            description: Will return all details of a given <Book> based on BookID given.
        delete:
            tags:
                - Books
            parameters:
                -
                    name: body
                    description: id of <Book> to be removed from the app.
                    schema:
                        $ref: '#/definitions/delete-film'
                    in: body
                    required: true
            responses:
                '204':
                    description: Returns "no content!" when removal of <Book> is successful.
                    examples:
                        application/json:
                            -
                                error: No content!
                '404':
                    description: 'Returns error, when <Book> with specified ID does not exist'
                    schema:
                        $ref: '#/definitions/error'
                    examples:
                        application/json:
                            -
                                error: id not found!
            summary: Delete a <Book> from the app
            description: 'Deletes and entry from the app, NEVER TOBE SEEN AGAIN.'
definitions:
    new-Book:
        title: Root Type for new-Book
        description: ''
        required:
            - Description
            - Language
            - Name
            - Pages
            - RealeaseYear
        type: object
        properties:
            Name:
                type: string
            Description:
                type: string
            Pages:
                format: int32
                type: integer
            RealeaseYear:
                format: int32
                type: integer
            Language:
                type: string
        example:
            Name: NewBookName
            Description: NewBookDescription
            Pages: 125
            RealeaseYear: 1999
            Language: NewMovieLanguage
    error:
        title: Root Type for error
        description: This data type is currently a complex object
        type: object
        properties:
            error:
                type: string
        example:
            error: Error message
    delete-film:
        title: Root Type for delete-film
        description: ''
        type: object
        properties:
            BookID:
                type: string
        example:
            BookID: ID
