swagger: "2.0"

info:
  title: RaamatuKlubi
  version: "1.0.0"
  description: Hinda raamatuid

paths:
  /books:
    get:
      tags:
        - Books
      summary: Get all Books
      description: Return all Books that are registered in API
      responses:
        "200":
          description: Returns a list of Books
          schema:
            type: array
            items:
              $ref: "#/definitions/Book"

    post:
      tags:
        - Books
      summary: Create a new Book
      description: Create a new Book instance
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/NewBook"
      responses:
        "201":
          description: Book successfully created
          schema:
            $ref: "#/definitions/Book"
        "400":
          description: Invalid input
          schema:
            $ref: "#/definitions/Error"

  /books/{BookID}:
    get:
      tags:
        - Books
      summary: Get Book by ID
      description: Return Book details by BookID
      parameters:
        - name: BookID
          in: path
          required: true
          type: string
      responses:
        "200":
          description: Book found
          schema:
            $ref: "#/definitions/Book"
        "404":
          description: Book not found
          schema:
            $ref: "#/definitions/Error"

    patch:
      tags:
        - Books
      summary: Update Book (partial)
      description: Update one or more fields of a Book
      parameters:
        - name: BookID
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/NewBook"
      responses:
        "200":
          description: Book updated
          schema:
            $ref: "#/definitions/Book"
        "400":
          description: Invalid update data
          schema:
            $ref: "#/definitions/Error"
        "404":
          description: Book not found
          schema:
            $ref: "#/definitions/Error"

    put:
      tags:
        - Books
      summary: Update Book (full)
      description: Replace Book with new data
      parameters:
        - name: BookID
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/NewBook"
      responses:
        "200":
          description: Book replaced
          schema:
            $ref: "#/definitions/Book"
        "404":
          description: Book not found
          schema:
            $ref: "#/definitions/Error"

    delete:
      tags:
        - Books
      summary: Delete Book
      description: Permanently delete a Book
      parameters:
        - name: BookID
          in: path
          required: true
          type: string
      responses:
        "204":
          description: No content
        "404":
          description: Book not found
          schema:
            $ref: "#/definitions/Error"

definitions:
  Book:
    type: object
    properties:
      BookID:
        type: string
        example: "019adf62-0763-718c-ab35-8eb72e154bba"
      Name:
        type: string
      Description:
        type: string
      UserScore:
        type: number
        format: float
        example: 4.5
      Pages:
        type: integer
        format: int32
      ReleaseYear:
        type: integer
        format: int32
      Language:
        type: string
      createdAt:
        type: string
        format: date-time
      updatedAt:
        type: string
        format: date-time

  NewBook:
    type: object
    required:
      - Name
      - Description
      - Pages
      - ReleaseYear
      - Language
    properties:
      Name:
        type: string
      Description:
        type: string
      Pages:
        type: integer
        format: int32
      ReleaseYear:
        type: integer
        format: int32
      Language:
        type: string
      UserScore:
        type: number
        format: float
    example:
      Name: "NewBookName"
      Description: "NewBookDescription"
      Pages: 125
      ReleaseYear: 1999
      Language: "ET"
      UserScore: 4

  Error:
    type: object
    properties:
      error:
        type: string
    example:
      error: "Error message"
