swagger: "2.0"

info:
  title: RaamatuKlubi
  version: 1.0.0
  description: Hinda raamatuid

consumes:
  - application/json
produces:
  - application/json

paths:
  /books:
    get:
      tags:
        - Books
      summary: Get all the <Books> in API
      description: Return all Books that are registered in API
      responses:
        "200":
          description: Returns a list of Books
          schema:
            type: array
            items:
              type: string
          examples:
            application/json:
              - Kalevipoeg
              - Harry Potter
              - Kriminoloogia

    post:
      tags:
        - Books
      summary: Create a new <Book> into the app
      description: Create a new <Book> instance with its required details, for further usage.
      parameters:
        - in: body
          name: body
          required: true
          description: The <Book> that is to be created.
          schema:
            $ref: "#/definitions/new-Book"
      responses:
        "201":
          description: Send 201 when <Book> is successfully added to the database.
          schema:
            $ref: "#/definitions/new-Book"
        "400":
          description: Missing some parameter
          schema:
            $ref: "#/definitions/error"

  /books/{BookID}:
    get:
      tags:
        - Books
      summary: Get a <Book> by ID
      description: Will return all details of a given <Book>.
      parameters:
        - in: path
          name: BookID
          type: string
          required: true
      responses:
        "200":
          description: Returns all details of a given <Book>
        "404":
          description: Book not found
          schema:
            $ref: "#/definitions/error"

    delete:
      tags:
        - Books
      summary: Delete a <Book> from the app
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/delete-book"
      responses:
        "204":
          description: No content
        "404":
          description: Book not found
          schema:
            $ref: "#/definitions/error"

  /users:
    get:
      tags:
        - Users
      summary: Get all the <Users> in the API
      description: Return all Users that are registered in API
      responses:
        "200":
          description: Returns a list of users
          schema:
            type: array
            items:
              type: string
          examples:
            application/json:
              - orpar3232
              - p6mmpea44
              - s66s1774

    post:
      tags:
        - Users
      summary: Create a new <User> into the app
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/new-User"
      responses:
        "201":
          description: User created
          schema:
            $ref: "#/definitions/new-User"
        "400":
          description: Missing parameter
          schema:
            $ref: "#/definitions/error"

  /users/{UserID}:
    get:
      tags:
        - Users
      summary: Get a <User> by ID
      description: Will return all details of a given <User> on given UserID.
      parameters:
        - in: path
          name: UserID
          type: string
          required: true
      responses:
        "200":
          description: Returns all details of a given <User>
        "404":
          description: User not found
          schema:
            $ref: "#/definitions/error"

    put:
      tags:
        - Users
      summary: Update a <User>
      parameters:
        - in: path
          name: UserID
          type: string
          required: true
        - in: body
          name: body
          required: true
          description: Contains new data to be changed for the specified User
          schema:
            $ref: "#/definitions/new-User"
      responses:
        "201":
          description: Modification successful
          schema:
            $ref: "#/definitions/new-User"
          examples:
            application/json:
              - FullName: Madisson Orpar
                EmailAddress: madis@gmail.com
                PasswordHash: dszpn32
                DisplayName: urmas3232
                PhoneNumber2fa: ""
        "400":
          description: Missing parameter
          schema:
            $ref: "#/definitions/error"
        "404":
          description: User not found
          schema:
            $ref: "#/definitions/error"

    delete:
      tags:
        - Users
      summary: Delete a <User> from the app
      parameters:
        - in: path
          name: UserID
          type: string
          required: true
      responses:
        "204":
          description: No content
        "404":
          description: User not found
          schema:
            $ref: "#/definitions/error"

definitions:
  new-Book:
    type: object
    required:
      - Name
      - Description
      - Pages
      - RealeaseYear
      - Language
    properties:
      Name:
        type: string
      Description:
        type: string
      Pages:
        type: integer
      RealeaseYear:
        type: integer
      Language:
        type: string

  new-User:
    type: object
    required:
      - Username
    properties:
      Username:
        type: string
      FullName:
        type: string
      EmailAddress:
        type: string
      PasswordHash:
        type: string
      DisplayName:
        type: string
      PhoneNumber2fa:
        type: string

  delete-book:
    type: object
    properties:
      BookID:
        type: string

  error:
    type: object
    properties:
      error:
        type: string
