swagger: '2.0'
info:
    title: RaamatuKlubi
    version: 1.0.0
    description: Hinda raamatuid
paths:
    /books:
        get:
            tags:
                - books
            responses:
                '200':
                    description: Returns a list of Books
                    schema:
                        type: array
                        items:
                            type: string
                    examples:
                        application/json:
                            - Kalevipoeg
                            - Harry Potter
                            - Kriminoloogia
            summary: Get all the <Books> in API
            description: Return all Films that are registered in API
    /books(BookID):
        get:
            tags:
                - Books
            responses:
                '200':
                    description: Returns all details of given <Book>
                    schema:
                        type: array
                        items:
                            type: string
                    examples:
                        application/json:
                            BookID: 5e568d9e-cec3-11f0-b43f-901b0eec5991
                            Name: TestBook
                            Description: For testing purposes
                            UserScore: 5
                            Pages: 10
                            ReleaseYear: 1999
                            Language: Estonglish
                            createdAt: '2025-12-01T16:37:24.000Z'
                            updatedAt: '2025-12-01T16:37:24.000Z'
                '404':
                    description: Returns error when <Book> not found
                    schema:
                        $ref: '#/definitions/error'
            operationId: BookID
            summary: Get full details of a <Book>
            description: Will return all details of a given <Book> based on BookID given.
definitions:
    error:
        title: Root Type for error
        description: ''
        type: object
        properties:
            error:
                type: string
        example:
            error: Error Message
